<div class="alert alert-success" *ngIf="success">
    <strong>Command added successfully to the database</strong> 
  </div>
  
        <div class="jumbotron">
          <h2 class="header">Add a command</h2>
          <form name="form" [formGroup]="form" (ngSubmit)="form.valid && addCommand()">
            <div class="form-group">
              <label for="battleship">BattleShip</label>
              <input type="text"  class="form-control" formControlName="battleship" 
              [ngClass]="{'is-invalid':form.get('battleship')?.touched && form.get('battleship')?.invalid}" required />
              <div class="invalid-feedback">
                <div>Field is required</div>
              </div>
            </div>
            <div class="form-group">
              <label for="quantity">Quantity </label>
              <input type="number" class="form-control" formControlName="quantity"
               [ngClass]="{'is-invalid':form.get('quantity')?.touched && form.get('quantity')?.invalid}" required />
              <div class="invalid-feedback">
                <div>Field is required</div>
              </div>
            </div>
            <div class="form-group">
              <label for="weaponSystem">Weapon System</label>
              <input type="text" class="form-control" formControlName="weaponSystem" 
              [ngClass]="{'is-invalid':form.get('weaponSystem')?.touched && form.get('weaponSystem')?.invalid}"   />
              <div class="invalid-feedback">
                <div>Field is required</div>
              </div>
            </div>
            <div class="form-group">
                <label for="rate">Rate </label>
                <input type="number" class="form-control" formControlName="rate"
                 [ngClass]="{'is-invalid':form.get('rate')?.touched && form.get('rate')?.invalid}" required />
                <div class="invalid-feedback">
                  <div>Field is required</div>
                </div>
              </div>
              <div class="form-group">
                <label for="target">Target</label>
                <input type="text" class="form-control" formControlName="target" 
                [ngClass]="{'is-invalid':form.get('target')?.touched && form.get('target')?.invalid}"   />
                <div class="invalid-feedback">
                  <div>Field is required</div>
                </div>
              </div>
           
            <div class="form-group">
              <button class="btn btn-primary"  [disabled]="!form.valid">Add</button>
            </div>
          </form>
        </div>
 

